## Quantitative Momentum Strategy

"Momentum Investing" means investing in the stocks that have increased in price the most. 

In this notebook, we are going to build an investing strategy that selects the 50 stocks with highest price momentum. From there, we will calculate recommended trades for an equal-weight portfolio of these 50 stocks.

### Library Imports

The first thing we need to do is import the open-source software libraries that we will be using in this tutorial.

In [2]:
import numpy as np
import pandas as pd
import requests
import math
from scipy import stats
import xlsxwriter

### Importing Our List of Stocks

As before, we'll need to import our list of stocks and our API token before proceeding.

In [2]:
stocks = pd.read_csv('sp_500_stocks.csv')
from api_token import IEX_CLOUD_API_TOKEN

### Making Our First API Call

It's now time to make the first version of momentum screener!

We need to get one year price returns for each stock in the universe. This metric is present in this iex cloud data endpoint: https://iexcloud.io/docs/core/ADVANCED_STATS

In [3]:
symbol = 'AAPL'
api_url = f'https://api.iex.cloud/v1/data/core/advanced_stats/{symbol}?token={IEX_CLOUD_API_TOKEN}'
data = requests.get(api_url).json()[0]
data

{'beta': 1.317362224979355,
 'totalCash': 62482000000,
 'currentDebt': 124963000000,
 'revenue': 383933000000,
 'grossProfit': 166816000000,
 'totalRevenue': 383933000000,
 'EBITDA': 123957000000,
 'revenuePerShare': 24.56,
 'revenuePerEmployee': 2611789.12,
 'debtToEquity': 5.558582473371603,
 'profitMargin': 0.2468138972164414,
 'enterpriseValue': 2832505457760,
 'enterpriseValueToRevenue': 7.38,
 'priceToSales': 7.26,
 'priceToBook': 46.22,
 'forwardPERatio': 29.868014323069666,
 'pegRatio': -17.09169730649125,
 'peHigh': 12.65994553056088,
 'peLow': 6.679270511250091,
 'week52highDate': '2023-07-19',
 'week52lowDate': '2023-01-03',
 'putCallRatio': 0.48717312832382687,
 'companyName': 'Apple Inc',
 'marketcap': 2785707457760,
 'week52high': 197.7,
 'week52low': 123.48,
 'week52highSplitAdjustOnly': 198.23,
 'week52highDateSplitAdjustOnly': '2023-07-19',
 'week52lowSplitAdjustOnly': 124.17,
 'week52lowDateSplitAdjustOnly': '2023-01-03',
 'week52change': 0.14193060486816989,
 'sharesOutstanding': 15634232000,
 'float': None,
 'avg10Volume': 68614614,
 'avg30Volume': 56518763,
 'day200MovingAvg': 173.71,
 'day50MovingAvg': 183.59,
 'employees': 164000,
 'ttmEPS': 5.95,
 'ttmDividendRate': 0.936842139930527,
 'dividendYield': 0.005257841171458789,
 'nextDividendDate': None,
 'exDividendDate': '',
 'nextEarningsDate': '2023-11-02',
 'peRatio': 29.397503775432675,
 'maxChangePercent': 68.46047091844692,
 'year5ChangePercent': 2.3715242627510715,
 'year2ChangePercent': 0.16506098621516685,
 'year1ChangePercent': 0.16344441709266877,
 'ytdChangePercent': 0.3790637412579836,
 'month6ChangePercent': 0.17033197282843582,
 'month3ChangePercent': -0.010568997791577606,
 'month1ChangePercent': -0.006331859951794416,
 'day30ChangePercent': 0.002646450925301247,
 'day5ChangePercent': -0.059537633273514246}

### Parsing Our API Call

This API call has all the information we need. Let's parse it to get the one year percent change or returns for one stock.

In [4]:
data['year1ChangePercent']

0.16344441709266877

### Executing A Batch API Call and Building Our DataFrame

Just like in our first notebook, it's time to execute several batch API calls and add the information we need to our DataFrame.

We'll start by running the following code cell, which contains some code we already built last time that we can re-use for this project. More specifically, it contains a function called **chunks** that we can use to divide our list of securities into groups of 100.

In [5]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i+n]
        
symbol_groups = list(chunks(stocks['Ticker'], 100))
symbol_strings = []
for i in range(0, len(symbol_groups)):
    symbol_strings.append(','.join(symbol_groups[i]))
    
my_columns = ['Ticker', 'Price', 'One-Year Price Return', 'Number of Shares to Buy']

Now we need to create a blank dataframe and add our data to the dataframe one by one.

In [6]:
final_dataframe = pd.DataFrame(columns= my_columns)
final_dataframe

Empty DataFrame
Columns: [Ticker, Price, One-Year Price Return, Number of Shares to Buy]
Index: []

In [7]:
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://api.iex.cloud/v1/data/core/QUOTE,ADVANCED_STATS/{symbol_string}?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    symbol_str_lst = symbol_string.split(',')
    len_ss = len(symbol_str_lst)
    for i in range(len_ss):
        final_dataframe = pd.concat(
            [final_dataframe,
             pd.Series([
                 symbol_str_lst[i],
                 data[i]['latestPrice'],
                 data[i+len_ss]['year1ChangePercent'],
                 'N/A'
             ], index = my_columns).to_frame().transpose()],
            ignore_index=True)

In [8]:
final_dataframe

    Ticker   Price One-Year Price Return Number of Shares to Buy
0        A  113.99             -0.151102                     N/A
1      AAL   13.98              0.001433                     N/A
2      AAP   64.61             -0.628738                     N/A
3     AAPL  178.18              0.163444                     N/A
4     ABBV  149.02              0.103513                     N/A
..     ...     ...                   ...                     ...
500    YUM  126.53              0.107699                     N/A
501    ZBH  120.65              0.097412                     N/A
502   ZBRA  256.37             -0.140563                     N/A
503   ZION   34.92             -0.373111                     N/A
504    ZTS  185.78              0.182562                     N/A

[505 rows x 4 columns]

### Removing Low-Momentum Stocks

The investment strategy that we are building seeks to identify 50 highest momentum stocks in the S&P 500.

Because of this, the next thing we need to do is remove all the stocks in our DataFrame that fall below this momentum threshold. We will sort the DataFrame by the stocks' one-year price return and drop all stocks outside the top 50.

In [9]:
final_dataframe.sort_values('One-Year Price Return', ascending=False, inplace=True)

In [10]:
final_dataframe = final_dataframe[:50].reset_index(drop=True)

In [11]:
final_dataframe.head()

  Ticker   Price One-Year Price Return Number of Shares to Buy
0     LB   79.92              2.281287                     N/A
1   NVDA  455.72              2.259462                     N/A
2    FTI   21.03              1.446373                     N/A
3    RCL   97.35              1.155669                     N/A
4    PHM   80.72              1.002064                     N/A

### Calculating the Number of Shares to Buy

Just like in the last project, we now need to calculate the number of shares we need to buy. The one change we are going to make is wrapping this functionality inside a function, since we will be using it again later.

In [12]:
def portfolio_input():
    global portfolio_size
    portfolio_size = input("Enter the size of your portfolio:")
    try:
        float(portfolio_size)
    except ValueError:
        print('That is not a number! \nPlease try again:')
        portfolio_size = input('Enter the size of your portfolio:')
        
portfolio_input()
print(portfolio_size)

Enter the size of your portfolio: 1000000

1000000

In [13]:
position_size = float(portfolio_size)/len(final_dataframe.index)
position_size

20000.0

In [14]:
for i in range(len(final_dataframe.index)):
    final_dataframe.loc[i,'Number of Shares to Buy'] = math.floor(position_size / final_dataframe.loc[i,'Price'])

In [15]:
final_dataframe

   Ticker    Price One-Year Price Return Number of Shares to Buy
0      LB    79.92              2.281287                     250
1    NVDA   455.72              2.259462                      43
2     FTI    21.03              1.446373                     951
3     RCL    97.35              1.155669                     205
4     PHM    80.72              1.002064                     247
5    NFLX    442.8              0.946887                      45
6      GE   111.72              0.931759                     179
7     LLY   586.46              0.878927                      34
8    AVGO   857.55              0.733861                      23
9    ORCL   126.32              0.720407                     158
10    ETN   236.13              0.680355                      84
11   BKNG   3143.1              0.649038                       6
12    DHI   117.31              0.643702                     170
13   ODFL   421.25              0.630209                      47
14    MPC   155.31              0.615796                     128
15    BKR    36.95              0.606117                     541
16    SLB    60.17              0.604555                     332
17   ANET   196.47              0.600179                     101
18   AMAT   147.53              0.591456                     135
19    CAT   282.28              0.575187                      70
20    VAR   177.07              0.571162                     112
21   LRCX   668.88              0.548761                      29
22   WYNN    94.71              0.546819                     211
23    URI   463.77              0.537211                      43
24    LEN   118.67              0.536289                     168
25   PCAR    84.51              0.535546                     236
26   CPRT    44.69              0.528516                     447
27   COTY    11.31              0.526316                    1768
28     PH    409.2              0.520981                      48
29    CCL     15.3              0.517857                    1307
30    PNR    68.08              0.516454                     293
31    KSU   293.59              0.506512                      68
32    NVR  6307.19              0.504718                       3
33    PSX   122.23              0.479164                     163
34    HAL    41.28              0.477637                     484
35   ADBE   560.36              0.460678                      35
36   KLAC   497.73              0.439752                      40
37   NLSN    27.98              0.439278                     714
38    CRM   224.76              0.432505                      88
39   CARR    58.66              0.416402                     340
40    TDG   871.89              0.416372                      22
41    PWR    206.5              0.411345                      96
42     IR    69.42              0.409715                     288
43    TJX    91.45              0.397891                     218
44   ISRG   298.22              0.388491                      67
45   CDNS   237.99              0.384951                      84
46    PVH    79.74              0.380442                     250
47    HES   160.52              0.375976                     124
48   SNPS   459.14              0.375659                      43
49  CMCSA    45.03              0.361143                     444

### Building a Better (and More Realistic) Momentum Strategy

Real-world quantitative investment firms differentiate between "high quality" and "low quality" momentum stocks.

 - High-quality momentum stocks show "slow and steady" outperformance over long periods of time
 - Low quality momentum stocks might not show any momentum for a long time, and then surge upwards. 

The reason why high quality momentum stocks are preferred is because low-quality momentum can often be caused by short term news that is unlikely to be repeated in the future (such as an FDA approval for a biotechnology company).

To identify high quality momentum, we are going to build a strategy that selects stocks from the highest percentiles of :

 - 1-month price returns
 - 3-month price returns
 - 6-month price returns 
 - 1-year price returns 
 
 The term **hqm** will be used ahead for **high quality momentum**.

In [54]:
hqm_columns = [
    'Ticker',
    'Price',
    'One-Year Price Return',
    'One-Year Return Percentile',
    'Six-Month Price Return',
    'Six-Month Return Percentile',
    'Three-Month Price Return',
    'Three-Month Return Percentile',
    'One-Month Price Return',
    'One-Month Return Percentile',
    'Number of Shares to Buy'
]

hqm_dataframe = pd.DataFrame(columns = hqm_columns)

hqm_dataframe

Empty DataFrame
Columns: [Ticker, Price, One-Year Price Return, One-Year Return Percentile, Six-Month Price Return, Six-Month Return Percentile, Three-Month Price Return, Three-Month Return Percentile, One-Month Price Return, One-Month Return Percentile, Number of Shares to Buy]
Index: []

In [10]:
for symbol_string in symbol_strings:
    batch_api_call_url = f'https://api.iex.cloud/v1/data/core/QUOTE,ADVANCED_STATS/{symbol_string}?token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()
    symbol_str_lst = symbol_string.split(',')
    len_ss = len(symbol_str_lst)
    for i in range(len_ss):
        hqm_dataframe = pd.concat(
            [hqm_dataframe,
             pd.Series([
                 symbol_str_lst[i],
                 data[i]['latestPrice'],
                 data[i+len_ss]['year1ChangePercent'],
                 'N/A',
                 data[i+len_ss]['month6ChangePercent'],
                 'N/A',
                 data[i+len_ss]['month3ChangePercent'],
                 'N/A',
                 data[i+len_ss]['month1ChangePercent'],
                 'N/A',
                 'N/A'
             ], index = hqm_columns).to_frame().transpose()],
            ignore_index=True)
        # to handle null values that cause error downstream, the below code is necessary
        hqm_dataframe.fillna(0, inplace=True)

NameError: name 'symbol_strings' is not defined

In [56]:
hqm_dataframe

,Ticker,Price,One-Year Price Return,One-Year Return Percentile,Six-Month Price Return,Six-Month Return Percentile,Three-Month Price Return,Three-Month Return Percentile,One-Month Price Return,One-Month Return Percentile,Number of Shares to Buy
0,A,113.99,-0.166151,N/A,-0.176609,N/A,-0.013665,N/A,-0.106871,N/A,N/A
1,AAL,13.98,-0.014799,N/A,-0.119647,N/A,-0.102119,N/A,-0.112944,N/A,N/A
2,AAP,64.61,-0.629478,N/A,-0.494334,N/A,0.019804,N/A,-0.092556,N/A,N/A
3,AAPL,178.18,0.141931,N/A,0.188051,N/A,-0.012702,N/A,0.002646,N/A,N/A
4,ABBV,149.02,0.09649,N/A,0.031952,N/A,0.090404,N/A,-0.011607,N/A,N/A
...,...,...,...,...,...,...,...,...,...,...,...
500,YUM,126.53,0.110276,N/A,0.013217,N/A,-0.047341,N/A,-0.046198,N/A,N/A
501,ZBH,120.65,0.061853,N/A,-0.01037,N/A,-0.111458,N/A,-0.036419,N/A,N/A
502,ZBRA,256.37,-0.167197,N/A,-0.13654,N/A,-0.066591,N/A,-0.005894,N/A,N/A
503,ZION,34.92,-0.377491,N/A,-0.130909,N/A,0.144325,N/A,-0.055471,N/A,N/A
504,ZTS,185.78,0.140675,N/A,0.114027,N/A,0.141631,N/A,-0.018854,N/A,N/A

### Calculating Momentum Percentiles 

We now need to calculate momentum percentile scores for every stock in our dataframe. Let's see how to do this:

In [57]:
time_periods = [
    'One-Year',
    'Six-Month',
    'Three-Month',
    'One-Month'
]

for row in hqm_dataframe.index:
    for time_period in time_periods:
        hqm_dataframe.loc[row, f'{time_period} Return Percentile'] = stats.percentileofscore(hqm_dataframe[f'{time_period} Price Return'], hqm_dataframe.loc[row, f'{time_period} Price Return'])
        
hqm_dataframe

TypeError: '<' not supported between instances of 'NoneType' and 'float'